.d-custom-bg {
  background: linear-gradient(to left, rgba(142, 45, 226, .15), rgba(74, 0, 224, .15)), url('/assets/img/bubbles-f03c0a59497fc65e6952ff281beb1dc7.png') center no-repeat;
}

.d-section-h-height {
  height: 300px;
}

.ps-r {
  position: relative;
}

.play-button {
  margin-top: 20px;
  background: rgba(255, 255, 255, .9);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  transition: all ease-in-out .2s;
  cursor: pointer;
}

.play-button:hover {
  transform: scale(1.1);
}

.play-button div {
  position: relative;
  color: #3d3d3d;
  font-size: 30px;
  text-align: center;
  width: 100%;
  margin-left: 3px;
}

.video-bar {
  position: absolute;
  right: 30px;
  bottom: 10px;
  width: 150px;
  height: 30px;
  color: #fff;
}

.video-bar div {
  display: inline-block;
  line-height: 30px;
}